@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
background: whitesmoke;
  font-family: Lato, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game_container {
    width: 600px;
    height: 600px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
    position: fixed;
}

.header {
  background: dodgerblue;
height: 100px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 30px;
}

.player_container {
  margin: 50px;
}

h2 {
  margin-bottom: 20px;
}

.fas {
  font-size: 50px;
  margin-right: 40px;
  User-select: none;
}

#player .fas,
#player .choice {
    color: dodgerblue;
    cursor: pointer;
}

#computer .fas,
#computer .choice {
    color: tomato;
}
.selected {
    color: black !important;
}

.reset_icon {
  font-size: 30px;
  cursor: pointer;
  margin-left: 50px;
}

.result_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result_text {
  font-size: 40px;
  margin: unset;
  margin-top: 20px;
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .game_container {

    height: 580px;
  }

  h1 {
    font-size: 24px;
  }

  .player_container {
    margin: 50px 0 25px 25px;
  }

  .fas {
    margin-right: 20px;
  }

  .reset_icon {
    margin-top: 25px;
    margin-left: 25px;
  }
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .game_container {
    height: 550px;
  }

  h1 {
    font-size: 22px;
  }

  .player_container {
    margin: 43px 0 25px 20px;
  }

  .fas{
    font-size: 43px;
  }

  .reset_icon {
    margin-top: 15px;
  }

  .result_container {
    margin: 0 20px;
  }
}
